# Exploratory Data Analysis (EDA)

In [47]:
!pip install seaborn scikit-learn plotly

Requirement already satisfied: seaborn in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (0.13.2)
Requirement already satisfied: scikit-learn in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (1.6.1)
Collecting plotly
  Downloading plotly-6.0.0-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (2.0.2)
Requirement already satisfied: pandas>=1.2 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from plotly) (1.28.0)
Requirement already satisfied: packaging in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from plotly) (24.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: pillow>=8 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\vkrits25\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading plotly-6.0.0-py3-none-any.whl (14.8 MB)
   ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
   -- ------------------------------------- 0.8/14.8 MB 3.7 MB/s eta 0:00:04
   ---- ----------------------------------- 1.6/14.8 MB 4.2 MB/s eta 0:00:04
   ------- -------------------------------- 2.6/14.8 MB 4.1 MB/s eta 0:00:03
   --------- ------------------------------ 3.4/14.8 MB 4.1 MB/s eta 0:00:03
   ----------- ---------------------------- 4.2/14.8 MB 4.1 MB/s eta 0:00:03
   ------------- -------------------------- 5.0/14.8 MB 3.9 MB/s eta 0:00:03
   --------------- ------------------------ 5.8/14.8 MB 4.0 MB/s eta 0:00:03
   ------------------ --------------------- 6.8/14.8 MB 4.0 MB/s eta 0:00:03
   -------------------- ------------------- 7.6/14.8 MB 4.0 MB/s eta 0:00:02
   ----------------------- ---------------- 8.7/14.8 MB 4.0 MB/s eta 0:00:02
   ------------------------- -------------- 9.4/14.8 MB 4.1 MB/s eta 0:00:02
   --------------------------- ------------ 10.2/14.8 MB 4.1 MB/s eta 0:00:02
   ----------------------------- ---------- 11.0/14.8 MB 4.1 MB/s eta 0:00:01
   -------------------------------- ------- 12.1/14.8 MB 4.1 MB/s eta 0:00:01
   ---------------------------------- ----- 12.8/14.8 MB 4.1 MB/s eta 0:00:01
   ------------------------------------ --- 13.6/14.8 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------  14.7/14.8 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------- 14.8/14.8 MB 4.0 MB/s eta 0:00:00
Installing collected packages: plotly
Successfully installed plotly-6.0.0

In [48]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import plotly.express as px
import plotly.graph_objects as go

# Set visualization style
sns.set(style="whitegrid")

### Loading dataset

In [49]:
# ðŸ“¥ Load the dataset
df = pd.read_csv('../data/raw/Telco-Customer-Churn.csv')

# Check for missing values
print("\n Missing Values:\n", df.isnull().sum())

# Display basic information
print("\n Data Types:\n", df.dtypes)

 Missing Values:
 customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

 Data Types:
 customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [50]:
print("\n Dataset Shape:", df.shape)
print("\n First 5 Rows:\n")
df.head()

 Dataset Shape: (7043, 21)

 First 5 Rows:

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

### Handling missing values

In [51]:
# Replace empty strings with NaN
df.replace(" ", np.nan, inplace=True)

# Check unique values per column
print("\n Unique Values per Column:\n", df.nunique())

# Drop CustomerID (not useful for modeling)
df.drop("customerID", axis=1, inplace=True)

 Unique Values per Column:
 customerID          7043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6530
Churn                  2
dtype: int64

In [41]:
# Check missing values after replacement
print("\n Missing Values After Cleaning:\n", df.isnull().sum())

# Handle missing values in "TotalCharges" (convert to numeric & fill missing)
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors="coerce")
df["TotalCharges"].fillna(df["TotalCharges"].median(), inplace=True)

 Missing Values After Cleaning:
 gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

C:\Users\VKRITS25\AppData\Local\Temp\ipykernel_27888\3736073310.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["TotalCharges"].fillna(df["TotalCharges"].median(), inplace=True)

### Summary Statistics

In [52]:
# Convert categorical columns to numeric (Label Encoding)
categorical_cols = df.select_dtypes(include=["object"]).columns

label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

# Summary Statistics
print("\n Summary Statistics:\n")
df.describe()

 Summary Statistics:

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.504756,0.162147,0.483033,0.299588,32.371149,0.903166,0.940508,0.872923,0.790004,0.906432,0.904444,0.797104,0.985376,0.992475,0.690473,0.592219,1.574329,64.761692,3266.994463,0.265370
std,0.500013,0.368612,0.499748,0.458110,24.559481,0.295752,0.948554,0.737796,0.859848,0.880162,0.879949,0.861551,0.885002,0.885091,0.833755,0.491457,1.068104,30.090047,1888.707571,0.441561
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,35.500000,1609.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,29.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,2.000000,70.350000,3259.000000,0.000000
75%,1.000000,0.000000,1.000000,1.000000,55.000000,1.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,89.850000,4911.500000,1.000000
max,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,3.000000,118.750000,6530.000000,1.000000

### Visualizations

In [64]:
# Churn Distribution

fig_churn = px.histogram(df, x="Churn", color="Churn",
                         title="Churn Distribution",
                         template="plotly_dark", 
                         width=600, height=400)
fig_churn.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [ ]:
# ðŸŽ¯ **Monthly Charges vs. Total Charges (Scatter Plot)**
fig_scatter = px.scatter(df, x="MonthlyCharges", y="TotalCharges", color="Churn",
                         title="Monthly Charges vs. Total Charges",
                         template="plotly_dark", 
                         width=700, height=500, 
                         opacity=0.7)
fig_scatter.show()

In [ ]:
# ðŸŽ¯ **Churn Rate by Contract Type (Bar Chart)**
fig_contract = px.bar(df, x=df["Contract"].value_counts().index, 
                      y=df["Contract"].value_counts().values,
                      color=df["Contract"].value_counts().index,
                      title="Number of Customers by Contract Type",
                      template="plotly_dark", width=700, height=500)
fig_contract.show()

In [ ]:
# ðŸŽ¯ **Churn Rate by Internet Service Type (Pie Chart)**
fig_pie = px.pie(df, names="InternetService", 
                 title="Internet Service Distribution",
                 template="plotly_dark", hole=0.4, width=700, height=500)
fig_pie.show()

In [ ]:
# ðŸŽ¯ **Correlation Heatmap**
import plotly.figure_factory as ff

corr_matrix = df.select_dtypes(include=[np.number]).corr()
fig_heatmap = ff.create_annotated_heatmap(
    z=corr_matrix.values, 
    x=list(corr_matrix.columns), 
    y=list(corr_matrix.index), 
    colorscale="coolwarm"
)
fig_heatmap.update_layout(title="Feature Correlation Heatmap", width=800, height=600)
fig_heatmap.show()

### Insights

In [46]:
# Insights
print("\n Insights:")
print("- Customers with month-to-month contracts churn the most.")
print("- Higher MonthlyCharges are correlated with churn.")
print("- TotalCharges shows a weak correlation with churn.")

 Insights:
- Customers with month-to-month contracts churn the most.
- Higher MonthlyCharges are correlated with churn.
- TotalCharges shows a weak correlation with churn.

### Save cleaned data

In [ ]:
# Save cleaned dataset
df.to_csv("../data/preprossed/cleaned_telco_churn.csv", index=False)